.maingrid {
  width: 30%;
  display: grid;
  background-color: grey;
  margin-left: 30%;
}

.maingrid button {
  background-color: lightgray;
  text-align: center;
  font-size: 30px;
  width: auto;
  height: 90px;
}

.btn1 {
  grid-column: 1 / 5;
  color: #fff;
  text-align: right !important;
  background-color: gray !important;
}

.btn18 {
  grid-column: 1 / 3;
}

.btn5,
.btn9,
.btn17,
.btn13,
.btn20 {
  background-color: orange !important;
}
